<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="Seeder">
            <directory suffix="Test.php">./tests/Seeder</directory>
        </testsuite>
        <testsuite name="Migration">
            <directory suffix="Test.php">./tests/Migration</directory>
        </testsuite>
    </testsuites>
</phpunit>